* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(147, 133, 46);
}

nav {
    position: fixed;
    z-index: 1000;
    left: 0;
    right: 0;
    top: 0;
    height: 100px;
    padding: 0 5%;
    background-color: rgb(47, 46, 46);
}

nav .logo {
    float: left;
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
}

nav .list {
    float: right;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .list a {
    display: block;
    text-transform: uppercase;
    padding: 15px 25px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    border-radius: 25px;
}

nav .list a:hover {
    background-color: black;
}

#toggle {
    position: absolute;
    top: -100px;
}

nav .icon-bara {
    display: none;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

nav .icon-bara .line {
    width: 30px;
    height: 5px;
    background-color: white;
    margin: 5px;
    border-radius: 3px;
    transition: all 0.3s ease-in-out;
}

@media (max-width: 768px) {
    nav .logo {
        float: none;
        width: auto;
        justify-content: center;
    }

    nav .list {
        float: none;
        position: fixed;
        z-index: 9;
        left: 0;
        right: 0;
        top: 100px;
        width: auto;
        height: 0;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: black;
        overflow: hidden;
        transition: max-height 0.5s ease-in-out;
        max-height: 0;
    }

    nav .list a {
        font-size: 20px;
    }

    #toggle:checked ~ .list {
        max-height: 300px;
    }

    nav .icon-bara {
        display: block;
    }
}



form {
    display: flex;
    flex-direction: column;
    width: 400px;
    align-items: center;
    text-align: center;
    padding: 45px;
    margin: 100px 50px;
    margin-top: 80px;
}


.bloque-formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ocupa toda la altura de la pantalla */
    padding-top: 100px; /* Ajuste para evitar que el formulario quede debajo del nav fijo */
}

form h2 {
    font-size: 35px;
    margin-bottom: 40px;
}

input {
    background-color: lightblue;
    padding: 20px;
    margin-bottom: 20px;
    border: 0;
    border-radius: 25px;
    font-size: 16px;
}

.btn {
    background-color: rgb(0, 180, 180);
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.btn:hover {
    background-color: rgb(0, 150, 150);
}

@media (max-width: 991px) {
    body {
        padding: 30px;
    }

    form {
        width: 340px;
    }
}





