body{
    background-image: url(imagenes/fondo.jpg);
    background-size: cover; /*Ajusta la imagen de fondo al tamaño de la pantalla*/
    background-position: center; /*centra la imagen*/
    background-repeat: no-repeat; /*evita que la imagen se repita*/
    background-attachment: fixed; /*para que se vea hasta abajo*/
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav{
    position: fixed; /*para que el menú se quede en la parte superior*/
    z-index: 10; /*asegura que la barra de navegacion este por encima de otros elementos*/
    left: 0;
    right: 0;
    top: 0;
    height: 100px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 5%;
    background-color: rgba(0, 0, 0, 0.679);
}

nav .logo{
    float: left; /*para que se posicione en la izquierda*/
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-transform: uppercase; /*convierte el texto a mayusculas*/
}

nav .list {
    float: right; /*Alinea la lista de navegacion a la derecha*/
    padding: 0;
    margin: 0;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-between; /*crea espacio ente los elementos de la lista*/
    align-items: center;
}

nav .list li {
    list-style: none; /*Elimina los puntos y numeros de las listas*/
}

nav .list a {
    display: block; /*hace que todos los enlaces ocupen todo el espacio disponible*/
    text-transform: uppercase;
    padding: 15px 25px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    text-decoration: none; /*elimina el subrayado del enlace*/
    border-radius: 25px; /*redondea los bordes*/
}

nav .list a:hover{
    background-color: black;
}

/*saca el checkbox del menú*/
#toggle {
    position: absolute; 
    top: -100px; /*lo mueve fuera de la pantalla*/
}

nav .icon-bara {
    display: none; /*oculta la barra desplegable en pantallas grandes*/
    position: absolute; /**/
    right: 5%;
    top: 50%;
    transform: translateY(-50%); /*ajusta la alineacion vertical*/
}

nav .icon-bara .line{
    width: 30px;
    height: 5px;
    background-color: white;
    margin: 5px;
    border-radius: 3px;
    transition: all .3s ease-in-out; /*transicion suave*/
}

@media(max-width: 768px){
    nav .logo{
        float: none; /*desactiva el float*/
        width: auto; /*ajusta el ancho automaticamente*/
        justify-content: center; /*centra el logo*/
    }

    nav .list {
        float: none; /*desactiva el float*/
        position: fixed; /*fija el menu cuando se expande*/
        z-index: 9;
        left: 0;
        right: 0;
        top: 100px;
        width: auto;
        height: 0;
        flex-direction: column; /*aplica los elementos verticalmente*/
        justify-content: space-evenly;
        background-color: black;
        overflow: hidden;
        transition: all .5s ease-in-out;
    }

    nav .list a {
        font-size: 20px;
    }

    #toggle:checked ~ .list {
        height: auto; /*permite que el menu se expanda*/
    }

    /*Hace visible el icono del menu hamburguesa en celulares*/
    nav .icon-bara{
        display: block; /*muestra el icono*/
        cursor: pointer;/*cambia el cursor a una mano para indicar que es clickeable*/
    }
}





.about {
    width: 80%;
    margin: 120px auto 0;
    text-align: center;
    color: rgb(12, 2, 2);
    font-size: 18px;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    display: flex;
}

.image-container {
    margin-top: 20px;
    
    justify-content: center;
    gap: 15px; /* Espacio entre imágenes */
}

.image-container img {
    width: 250px;
    height: 150px;
    object-fit: cover; /* Ajusta la imagen sin deformarla */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
    display: flex;
}

.img1{
    gap: 20px;
    display: flex;
}

.img2{
    gap: 20px;
    display: flex;
}




.contenido{
  
    margin-right: 100px;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 30px;
    position: absolute;
    bottom: 0;
    width: 97%;
}

footer li{
    list-style: none;
}